:root{
    --grey-700:hsl(0, 0%, 20%);
    --grey-800:hsl(0, 0%, 12%);
    --grey-900:hsl(0, 0%, 8%);
    --green:hsl(75, 94%, 57%);
    --white:hsl(0, 0%, 100%);
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/static/Inter-Regular.ttf') format('truetype'); 
    font-weight: 400;  
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/static/Inter-SemiBold.ttf') format('truetype'); 
    font-weight: 600;  
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/static/Inter-Bold.ttf') format('truetype'); 
    font-weight: 700;  
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    interpolate-size: allow-keywords;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;        
    flex-direction: column;    
    justify-content: center;  
    align-items: center;
    background-color: var(--grey-900);
    color: var(--white);
    font-family: 'Inter';
    padding: 2rem 0;
}

h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

#root, #__next {
    isolation: isolate;
}


.main{
    width: 85%;
    background-color: var(--grey-800);
    max-width: 20rem;
    border-radius: 10px;
}

.main__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1.8rem;
}

.main__container img{
    max-width: 4.5rem;
    width: 40%;
    height: auto;
    border-radius: 100%;
}

.main__name{
    font-size: clamp(0.875rem, 0.742rem + 0.4255vw, 1.125rem);
    font-weight: 600;
    margin: 1rem 0 0.5rem 0;
}

.main__adress{
    font-size: clamp(0.5rem, 0.4335rem + 0.2128vw, 0.625rem);
    font-weight: 700;
    color: var(--green);
    margin: 0.25rem 0 1rem 0;
}

.main__description{
    font-size: clamp(0.6875rem, 0.621rem + 0.2128vw, 0.8125rem);
    font-weight: 400;
    margin: 0.5rem 0;
    text-align: center;
}

.main__socials{
    width: 100%;
    list-style: none; 
    margin: 0;        
    padding: 0;
}



.main__list a{
    width: 100%;
    display: block;
    text-decoration: none;
    background-color: var(--grey-700);
    font-weight: 600;
    font-size: clamp(0.75rem, 0.6835rem + 0.2128vw, 0.875rem);
    text-align: center;
    margin: 0.75rem 0;
    padding: 0.5rem;
    border-radius: 6px;
    transition: box-shadow 0.25s ease, transform 0.2s ease;
}

.main__list a:last-child{
    margin-bottom: 0.5rem;
}

.main__list a:hover,
.main__list a:focus {
    box-shadow: 0 0 0 2px hsla(75, 94%, 57%, 0.795),
                0 2px 6px hsl(75, 94%, 57%, 0.8);
    transform: translateY(-2px);
}